In [17]:
n = 5

"".join([str(i) for i in range(1,n+1)])

'12345'

In [18]:
for i in range(1, n+1):
    print(i, end='')

12345

In [20]:
x, y, z, n = 1, 1, 1, 3

3

In [21]:
if __name__ == '__main__':
    n = int(input())
    arr = map(int, input().split())

5
2 3 6 6 5

In [22]:
arr

a = list(set(arr))
a

a.sort(reverse=True)
a

a[1]

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39

In [44]:
main_list = []

In [45]:
if __name__ == '__main__':
    for _ in range(int(input())):
        name = input()
        score = float(input())
        
        main_list.append([name, score])

5
harry
37.21
berry
37.21
tina
37.2
akiriti
41
harsh
39

In [46]:
main_list

[['harry', 37.21],
 ['berry', 37.21],
 ['tina', 37.2],
 ['akiriti', 41.0],
 ['harsh', 39.0]]

In [66]:
the_list = main_list.copy()
the_list

[['harry', 37.21],
 ['berry', 37.21],
 ['tina', 37.2],
 ['akiriti', 41.0],
 ['harsh', 39.0]]

In [67]:
the_list.sort(reverse=True)

In [68]:
the_list.sort()

[['tina', 37.2],
 ['harsh', 39.0],
 ['harry', 37.21],
 ['berry', 37.21],
 ['akiriti', 41.0]]

In [ ]:
l = []
second_lowest_names = []
scores = set()

for _ in range(int(input())):
    name = input()
    score = float(input())
    l.append([name, score])
    scores.add(score)
        
second_lowest = sorted(scores)[1]

for name, score in l:
    if score == second_lowest:
        second_lowest_names.append(name)

for name in sorted(second_lowest_names):
    print(name, end='\n')